apiVersion: apps/v1
kind: Deployment
metadata:
  name: agent-service
  namespace: {{ .Values.namespace }}

spec:
  replicas: {{ .Values.agent.replicas }}
  selector:
    matchLabels:
      app: agent-service

  template:
    metadata:
      labels:
        app: agent-service

    spec:
      containers:
        - name: agent
          image: {{ .Values.agent.image }}
          ports:
            - containerPort: {{ .Values.agent.port }}

